html, body{
    height: 100%;
}
.profileBody{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    /* background-color: aliceblue; */
    /* align-items: center; */
    /* margin-left: 80vh;
    margin-right: 80vh; */
    /* max-width: 250px; */
    height: 100vh;


}
.profilePhoto{
    /* margin-left: 30vh;
    margin-right: 30vh; */
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
    height: 200px;
    background-color: white;
}
.usernameBlock{
    background-color: white;
}


.profileUsername{
    text-align: center;
    margin:auto;
    width: fit-content;
    padding: 1vh;
    border-radius: 4vh;
    background-color: rgb(197, 84, 84);
}

/* .profileNavbar{ */
    /* padding-left: 250px;
    padding-right: 250px; */
    
 
/* }  */
.profileContent{

    /* padding: 250px; */
    background-color: blanchedalmond;
}