html, body{
    height: 100%;
}
.profileBody{
    display: flex;
    flex-direction: column;    
    height: 100%;
    background-color: aliceblue;
    align-items: center;
    margin-left: 50vh;
    margin-right: 50vh;

}
.profilePhoto{
    margin: 20vh;
}
.profileInfo{
    margin: 30vh;
}
.profileUsername{
    margin: 20vh;
}