*{
    font-size: large;
}


body{
    background: -webkit-linear-gradient(top right, rgb(148, 172, 146), rgb(240, 247, 203));
    margin-bottom: 4vh;
}

.question_block{
    /* background-color: rgb(96, 224, 64);  */
    /* background-color: rgb(133, 197, 90); */
    background-color: white;
    padding:20px 20px;
    /* margin-left:30vh;
    margin-right: 30vh; */
    margin-top: 2vh;
    border:1px solid rgb(29, 28, 28);
    border-radius: 0.8vh;
    border-radius: 10px;

}

/* .username_element{
    font-size: x-large;
    font-weight: 2000;
    color: rgb(2, 10, 16);
} */

.userID_element{
    display: flex;
    font-size: large;
    font-weight: 900;
    color:rgb(3, 3, 3);
    background-color: rgb(180, 167, 167);
    border-radius: .5vh;
    width:fit-content;
    margin-bottom: 2vh;

}

.options{
    font-weight: 600;
    font-size: large;
    padding-left: 1vh;
    border:2pt;
    color: black;
    /* accent-color:rgb(221, 102, 32) ; */
}

input[type='radio']{
    accent-color:rgb(221, 102, 32);
}


.question_title{
    background-color: rgb(133, 197, 90);
    padding: 2vh;
    border-radius: .5em;
    font-size: x-large;
    border:2pt;
    color: rgb(0, 0, 0);
    font-weight: 700;
    
    
}



.sub_btn{
    font-weight: 500;
    padding: 2px 2px;
    background-color: bisque;
    border-radius: 10px;
    border-width: .1em;
    cursor: pointer;
    margin-top: 5px;
}

.up_share_div{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    /* border:1px solid rgb(230, 186, 186); */
}
.up_share_btn{
    font-weight: 500;
    background-color: bisque;
    margin-right: 10px;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;

}