
.login_form{
    position:absolute;
    z-index: 2;
}
.home_body{
    /* margin-top: 50vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(222, 213, 213);
    padding-bottom: 50vh;
    min-width: 70vh;
}
.home_feed_section{
    width: 75%;
    border:1px solid rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
}
.login_section{
    padding-left: 5vh;
    padding-right: 5vh;
    margin-top: 10vh;
    padding-bottom: 10vh;
    padding-top: 10vh;
    /* width: 20%; */
    background-color: rgb(88, 151, 223);
    border-radius: 2vh;
    /* border:1px solid rgba(0, 0, 0, 1); */
}
