body{
    height: 100%;
    padding: 0;
    margin:0;
}
.loginBody{
    /* display: absolute; */
    position: relative;
    display: flex;
    flex-direction: column;
}

.login_option{
    margin-top: 5vh;
    margin-top: 5vh;
    /* justify-content: center; */
     display: flex;
    flex-direction: column; 
    /* position: absolute; */
}
 .SignUpElement{
    position: absolute;
    justify-content: flex-start;
    /* margin-top: 0; */
    height: 100%;
} 



.login_button{
    border-radius: 1em;
    padding:1vh;
    font-size: x-large;
    font-weight: 1000;
    color: black;
}

.login_button:hover{
    background-color: rgb(194, 190, 190);
}

.signup_button{
    margin-top: 10vh;
    border-radius: 1em;
    padding:2vh;
    font-size: x-large;
    font-weight: 1000;
    color: rgb(221, 102, 32);
}

.signup_button:hover{
    color: white;
    background-color:  rgb(221, 102, 32);
}


.email{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    margin-bottom: 2vh;
    /* font-size:x-large; */
}

.password{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    margin-bottom: 2vh;
    /* font-size: x-large; */
}
.labelTags{
    color: #000;
}

.InputBoxes{
    border-radius: 2vh;
    border-color: aliceblue;
    /* font-weight:700; */
}