.login_option{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
}
.login_buttons{
    border-radius: 10em;
    padding:1vh;
    font-size: x-large;
}

.email{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    margin-bottom: 2vh;
    font-size:x-large;
}

.password{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    margin-bottom: 2vh;
    font-size: x-large;
}
.labelTags{
    color: #000;
}

.InputBoxes{
    border-radius: 2vh;
    border-color: aliceblue;
    font-weight:700;
}
