body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to occupy the entire viewport height */
}

.loginBody {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.login_option {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
   /* Make it take full width */
}


.login_button {
    border-radius: 1em;
    /* Adjust padding using vh and vw units */
    font-size: 1.3vw; /* Adjust font size using vw units */
    font-weight: bold;
    color: black;
    background: linear-gradient(0deg, #FFF855, #FFF855);
    width: 35%;
    min-height: 100%;
    @media (max-width: 768px) { font-size: 2vh;
        width: 45%;}

}

.login_button:hover {
    color: white;
}

.signup_button {
    border-radius: 1em;
    /* Adjust padding using vh and vw units */
    font-size: 1.3vw; /* Adjust font size using vw units */
    font-weight: bold;
    color: black;
    background: linear-gradient(0deg, #FFF855, #FFF855);
    width: 35%;
    min-height: 100%;
    margin-top: 2vh;
    @media (max-width: 768px) { font-size: 2vh;
    width: 45%;}
    
}

.signup_button:hover {
    color: white;
    background-color: rgb(221, 102, 32);
}

.email, .password {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    margin-bottom: 2vh;
    width: 20vw; /* Default width for larger screens using vw units */

    /* Add a media query for smaller screens */
    @media screen and (max-width: 480px) {
        width: 50vw; /* Adjust the width for screens up to 480px wide */
    }
}


.labelTags {
    color: #000;
}

.InputBoxes {
    border-radius: 1.3vh;
    border-color: aliceblue;
    font-size: medium;
    height: 3vh;
   
}
@media screen and (max-width: 480px)
    
{
input[type="password"] {
    font-size: 2.8vw; 
    padding-left: 9px;
    /* letter-spacing: 1px; */
  }}